.slider-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  min-height: 200px;
  margin-bottom: 20px;

  &__list {
    max-width: 300px;
    min-height: inherit;
    width: 100%;
  }

  &__list li {
    color: yellow;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    background: blue;
    min-height: inherit;
    display: none;
  }
  &__list li.active {
    display: flex;
  }
  &__prev {
    width: 20px;
    height: 20px;
    border: 0;
    border-bottom: 2px;
    border-right: 2px;
    border-style: solid;
    transform: rotate(130deg);
    cursor: pointer;
  }
  &__next {
    width: 20px;
    height: 20px;
    border: 0;
    border-bottom: 2px;
    border-right: 2px;
    border-style: solid;
    transform: rotate(315deg);
    cursor: pointer;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
